.article {
    position: relative;
    width:500px;
    height: 120px;
}

.thumb-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.thumb {
    width: 100px;
    height: 100px;
}

.link-div {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

li {
    list-style-type: none;
}
