<h1>Add link</h1>

<% form_for :link, :url => { :action => :create } do |f| %>
    url: <%= f.text_field :url %> <br />
    text: <%= f.text_field :text %> <br />

    <%= submit_tag "Add Link" %>
<% end %>

<br />

<%= link_to 'Back', root_url %>
